<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Welcome to SIS</title>
    <style>
    body {
        font: 1em Helvetica, Arial, Verdana, sans-serif;
    }
    a {
        color: #0366d6;
    }
    div#content {
        width: 70%;
        margin: auto;
    }
    </style>
  </head>

  <body>
    <div id="content">
      <p><em>A reminder that sound and downloads are not supported. Please report all other issues to the contacts in the status page.</em></p>

      <h1>Welcome to the SIS Pilot</h1>

      <h2>News</h2>

      <ul>
        <li>2022-03-31: many fonts have been added. Please continue to report missing fonts.</li>
        <li>2022-03-13: approval is no longer required for individual sites. Some sites will still be blocked.</li>
      </ul>

      <h2>Pilot features</h2>

      <ul>
        <li>Sound: not currently supported (in progress)</li>
        <li>Downloads: not currently supported</li>
        <li>Microphone usage: not planned</li>
        <li>Copying text from SIS: supported</li>
        <li>Copying text into SIS: not planned</li>
      </ul>

    </div>
  </body>
</html>
